* {
    box-sizing: border-box;
}


/* background */
html {
    height: 100%;
    /* max-height: 600px; */
    width: 1000px;
    background-color: hsla(200,40%,30%,.4);
    background-image:       
        url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
        url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 
        0 20%,
        0 100%,
        0 50%,
        0 100%,
        0 0;
    background-size: 
        2500px,
        800px,
        500px 200px,
        1000px,
        400px 260px;
    animation: 65s para infinite linear;
    }

@keyframes para {
    100% {
        background-position: 
            -5000px 20%,
            -800px 95%,
            500px 50%,
            1000px 100%,
            400px 0;
        }
    }


/* Blur box     */
.bg {
    display: flex;
    /* background-position: center top; */
    padding: 100px;
    height: 100vh;
} 

.wrap {
    position: relative;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.text-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    margin: 0 auto;
    background-position: center -100px;
    backdrop-filter:blur(6px);
}

.text {
    display: flex;
    border: 2px solid white;
    padding: 50px;
    margin: 0 auto;
    position: relative;
    max-width: 500px;
    flex-direction: column;
}

/* box 2 */
a:hover {
    color:rgb(35, 136, 170);
    text-decoration: none;
}


.bg2 {
    /* background-position: center right; */
    padding: 100px;
    height: 100vh;
}

.wrap2 {
    position: relative;
}

.text-bg2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    margin: 0 auto;
    background-position: right -100px;
    backdrop-filter:blur(6px);
}

.text2 {
    display: flex;
    border: 2px solid white;
    padding: 50px;
    margin: 0 auto;
    position: relative;
    max-width: 500px;
    flex-direction: column;
}

.about-me {
    display:flex;
    align-self: center;
    color: rgb(70, 95, 6);

}

.projects {
    color: rgb(70, 95, 6);
    align-self: center;
}


body {
    font-family: 'Libre Baskerville', serif;
    justify-content: center;
    display:flex;
}

.overlay {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(70, 95, 6);

}

h2 {
    text-align: center;
    font-size: 35px;
    color: rgb(70, 95, 6);
}

.icon-buttons {
    margin-left: 5rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    font-size: 25px;
    color: rgb(70, 95, 6));
}